.welcome-container {
    margin-top: 5%;
}

.welcome-content {
    margin-left: 8px;
}

.welcome-container img {
    margin: 5px 10px 0 0;
    width: 64px;
}

.welcome-content .h4 {
    font-size: 1.2rem;
}

.task-failed {
    font-weight: bold;
    color: red
}

.task-succeded {
    color: green;
}

.task-running {
    color: blue;
    font-weight: italic;
}

.changed-component {
    margin-left: 20px;
}

.commit {
    margin-left: 20px;
}

.app {
    padding: 1em;
    float: left;
    text-align: center;
}

.app .icon, .app .icon img {
    width: 96px;
    height: 96px;

    position: relative;
}

.app .emblem {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.app.good .emblem {
    background-image: url(images/app-good.png);
}

.app.bad .emblem {
    background-image: url(images/app-bad.png);
}

@font-face{
    font-family: 'DepGraphSubsetFont';
    src: url('DejaVuSansMono-graph-subset.woff');
}

.task-dep-graph {
    white-space: pre;
    font-family: DejaVu Sans Mono, DepGraphSubsetFont, monospace;
    font-size: 10px;
    line-height: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.graph-task, .graph-hidden {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 10px;
    padding: 4px;
    padding-bottom: 2px;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
}

.graph-hidden {
    visibility: hidden;
}

.graph-inter-row {
    line-height: 10px;
}

.graph-pad {
    font-size: 10px;
    vertical-align: middle;
}

.graph-connector {
    vertical-align: middle;
}

.graph-success { background: #dff0d8; }
.graph-failed  { background: #f2dede; }
.graph-running { background: #c0d0f2; }
